<table >
    <thead>
    <tr>
        <th># Item</th>
        <th>Codigo del Bien</th>
        <th>Descripcion del Bien</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Serie</th>
    </tr>
    </thead>
    <tbody>
            <tr>
            
            <td>1</td>
            <td>746403890025</td>
            <td>ARCHIVADOR DE METAL</td>
            <td></td>
            <td>5 GAVETAS</td>
            <td></td>
        </tr>
            <tr>
            
            <td>2</td>
            <td>746403210009</td>
            <td>ARCHIVADOR DE MADERA</td>
            <td></td>
            <td>32 CAJONES</td>
            <td></td>
        </tr>
            <tr>
            
            <td>3</td>
            <td>746406600297</td>
            <td>ARMARIO DE METAL</td>
            <td></td>
            <td>ARMERO</td>
            <td></td>
        </tr>
            <tr>
            
            <td>4</td>
            <td>746403210001</td>
            <td>ACUMULADOR DE ENERGIA - EQUIPO DE UPS</td>
            <td>FORZA</td>
            <td></td>
            <td></td>
        </tr>
            <tr>
            
            <td>5</td>
            <td>Cod_001</td>
            <td>Celular</td>
            <td>Asus</td>
            <td>Lp_002225</td>
            <td>MP098_12</td>
        </tr>
        </tbody>
</table>